  <html lang = "en">
  <head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />


  </head>
  <body>

      <div class="jumbotron">
      <center>
       <h1 class="display-3">Spot 2 Tube</h1>
       <p class="lead">Turn your sootify playlists into a youtube music video marathon.</p>
       <p><a class="btn btn-lg btn-success" href="#" role="button">Start</a></p>
      </center>
    </div>

     <footer class="footer">
       <p>&copy; Dhruv Shah 2017</p>
     </footer>

   </div>

       <!-- Bootstrap core JavaScript
       ================================================== -->
       <!-- Placed at the end of the document so the pages load faster -->
       <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
       <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
       <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
     	<script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
     	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


   </body>

</html>
